* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bulid img {
  width: 100%;
}

.Unlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Unlock img {
  width: 100%;
  max-width: 750px;
}

.text-contents {
  background: #ffffff;
  width: 90%;
  padding: 35px 28px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  right: 3%;
}

.text-contents h6 {
  font-size: 22.5px;
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 10px;
}

.text-contents p {
  font-size: 15px;
  color: #121212bf;
  margin-bottom: 10px;
}

.text-contents button {
  border: none;
  background: #00584b;
  color: #fff;
  width: 130px;
  padding: 7px 10px;
  border-radius: 30px;
}

@media (min-width: 1001px) {
  .Unlock {
    flex-direction: row;
  }

  .Unlock img {
    width: 45%;
    max-width: none;
  }

  .text-contents {
    width: 47%;
    margin-top: 0;
    margin-left: 20px;
    text-align: left;
  }
}

@media (max-width: 1000px) {
  .text-contents {
    position: relative;
    top: -51px;
    right: 0;
    text-align: left;
  }
}

.bulid_1 img {
  width: 100%;
}

.Unlock_1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.Unlock_1 img {
  width: 100%;
  max-width: 750px;
}

.text-contents_1 {
  background: #ffffff;
  width: 90%;
  padding: 35px 28px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  left: 3%;
}

.text-contents_1 h6 {
  font-size: 22.5px;
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 10px;
}

.text-contents_1 p {
  font-size: 15px;
  color: #121212bf;
  margin-bottom: 10px;
}

.text-contents_1 button {
  border: none;
  background: #00584b;
  color: #fff;
  width: 130px;
  padding: 7px 10px;
  border-radius: 30px;
}

@media (min-width: 1001px) {
  .Unlock_1 {
    flex-direction: row;
  }

  .Unlock_1 img {
    width: 45%;
    max-width: none;
  }

  .text-contents_1 {
    width: 47%;
    margin-top: 0;
    margin-left: 20px;
    text-align: left;
  }
}

@media (max-width: 1000px) {
  .text-contents_1 {
    position: relative;
    top: -51px;
    left: 0;
    text-align: left;
  }
}
