<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Allproduct.css">
</head>

<body>
{{>navbar}}

    <div class="collectionMenu">
        <div class="collection-container">
            <a href="/allProduct">
                <svg widh="66px" height="66px" viewBox="0 0 200 200">
                    <circle cx="100" cy="100" r="97.5" fill="#18594b"></circle>
                    <g fill="#fff">
                        <path
                            d="M161.11 136.59v-.05a2.58 2.58 0 0 0-.08.26c-3.62 7.32-10.42 15.63-19 15.36-18-.55-22.49-11.94-22.27-11.08a13.82 13.82 0 0 0 1.14 3.3 20.7 20.7 0 0 0 2.32 3.46 33 33 0 0 0 5.3 4.7 19.09 19.09 0 0 0 19.83 1.46 28.32 28.32 0 0 0 7-6 25.28 25.28 0 0 0 3.63-5.26 23.75 23.75 0 0 1-6.89 9.87c-4.94 3.93-10.44 6.19-16.9 4.34a24.79 24.79 0 0 1-9.48-4.5 19.35 19.35 0 0 1-5.57-7c-.35 3.8 1.39 8 3.34 11.26a16.23 16.23 0 0 0 5.72 5.69c5.47 2.85 10.41 3.2 14.7 1.9a21.23 21.23 0 0 0 6.16-3.32c6.38-5.16 10.34-14.52 11-23.79 0-.14.08-.27.11-.41l-.06-.11zM142 138.8a5.22 5.22 0 0 0-2.73 1.5c-.83.78-1.38 1.43-2.15 2.27a24 24 0 0 0-2.16 2.75l-.73 1.1-.67 1a27.38 27.38 0 0 1 3.12-2A23 23 0 0 1 140 144l1.1-.32c1.08-.29 2.39-.57 3.06-1.54a2.15 2.15 0 0 0 0-2.71 2.65 2.65 0 0 0-2.16-.63zm-7.22 9.2a12.08 12.08 0 0 0 9.52.94 5 5 0 0 0 2.8-1.93 14.54 14.54 0 0 1-1.6 0c-3.61-.01-7.23-.23-10.72.99zm-17.59-22.15c.12 7-.45 6.94 3.58 11.65 2.65 3.1 5.2 6.29 7.73 9.47.85 1.05 1.74 1.66 2.65.33 3.4-5 8-9.1 10.88-14.5a21.08 21.08 0 0 0 2.09-7.59v-4.27c-6.2 6.39-11.07 12.42-13.15 20.37-.67-3.26-1.09-6.33.09-9.12l.09-.12c.87-1.27 1.81-2.49 2.79-3.68.75-.94 1.54-1.86 2.32-2.79a45.79 45.79 0 0 0 5.77-8 21.19 21.19 0 0 0 2.09-7.59v-4.31c-5.7 5.87-10.27 11.44-12.58 18.48l-.68 1.34c-.86-4.37-1.13-8.41 2.52-11.81a40.23 40.23 0 0 0 4.85-6.07c2.31-3.18 5.9-8.56 5.8-13.11-5.7 2.89-11.68 10.11-13.84 17.15 1.09-4.6 3.22-9 3.45-13.56 2.35-1.57 13.29-9.15 9.71-12.63-3.35-3.29-8.35 8.2-9.75 11.83a.72.72 0 0 0-.15.11c1-3.84 4.15-18-1.47-18.18-5.87-.24-.18 15.5 1 18.58V98c-2-3-3.07-6.26-4.76-9.34-1.29-2.36-3.6-4.76-6.46-3.27a3.88 3.88 0 0 0-2 4.1c.57 2.7 3.7 4 5.93 5a36.89 36.89 0 0 1 6.77 3.51c-.33-.16-.64-.35-.85-.44a15.93 15.93 0 0 0-5.61-1.39 7.33 7.33 0 0 0-4.21.87c-1.93 1.34.09 3.41 1.8 3.59a12.8 12.8 0 0 0 4.3-.53 37.29 37.29 0 0 0 5.06-1.63c-.25 5.52-3.49 10.61-3.46 16.18-1.81-3.36-2.37-7.05-4.55-10.1s-5.29-5-8.27-7.89c-.32 7.73 4.23 12.08 8.91 16.58 5 4.76 4.47 10.43 3.79 16.32-1.78-9.82-4.85-11.75-12.16-18.94.06 3.58 0 6.53 1.67 9.8s4.18 5.63 6.7 8c5 4.76 4.47 10.43 3.79 16.33-1.8-9.75-4.87-11.75-12.18-18.9zm21.61-51.54l2.09-10.85-1.44-.33-3 10.62a1.21 1.21 0 1 0 2.35.56zm5.32 1.02v-3.5l-.46-8.17h-1.47l-.33 11a1.21 1.21 0 0 0 2.26.67zm-11.45-2.97l4.64-10a13.47 13.47 0 0 1-1.31-.67l-5.47 9.59a1.21 1.21 0 1 0 2.14 1.08zM127.2 69l6.91-8.62a14.54 14.54 0 0 1-1.11-1l-7.62 8A1.218 1.218 0 1 0 127.2 69zm-4.51-4.6l8.78-6.71a14.32 14.32 0 0 1-.84-1.2l-9.32 5.93a1.21 1.21 0 1 0 1.38 1.98zM129 53.09l-10.48 3.52a1.211 1.211 0 1 0 .87 2.26l10.13-4.4a13.47 13.47 0 0 1-.52-1.38zm-11.42-.38l10.89-1.84a14.2 14.2 0 0 1-.18-1.46l-11 .9a1.21 1.21 0 1 0 .29 2.4zm-.31-6.42l11 .83a14.55 14.55 0 0 1 .18-1.46l-10.91-1.77a1.21 1.21 0 1 0-.27 2.4zM118.5 40l10.5 3.44q.23-.7.51-1.38l-10.15-4.34a1.218 1.218 0 1 0-.86 2.28zm7.32-2.26l4.76 2.26a11.93 11.93 0 0 1 .84-1.21l-4.23-3.07a1.22 1.22 0 1 0-1.37 2.02zm7.56-1.05l.66-.56.6-.4a1.21 1.21 0 1 0-1.81 1.6l.1-.22zm.52 20.39a13.17 13.17 0 0 0 10.22 4.33V35h-.64a13.2 13.2 0 0 0-9.58 22.08zM72.83 58.7c.45-3.33 3.33-11.57-.29-11.74-8.84-.41-1 23.59-1 23.59s.51-6.14 1.29-11.85zm11.63-18.27l-1.79.7a8.07 8.07 0 0 0-1 .74c-3.28 3-4.41 7.6-5.29 12a51.41 51.41 0 0 0-1.32 10.63l.83-1.35 1.21-2.82c2-4.72 4.16-9.57 7.75-13.26a12.76 12.76 0 0 0 2.15-2.5 3.05 3.05 0 0 0 .07-3.14 2.7 2.7 0 0 0-2.61-1zM105.67 37c-6.68-2.77-13.27 3.83-17 8.45a50.48 50.48 0 0 0-6.2 9l-.23.38 4.07-3.31c2-1.6 3.93-3.2 6-4.63a24.82 24.82 0 0 1 6.05-3.08 31.12 31.12 0 0 1 6.52-1.81 4.06 4.06 0 0 0 2.51-.84 2.22 2.22 0 0 0 .26-2.51 3.83 3.83 0 0 0-1.98-1.65zm-10.33 90.24h0 0zm26.98-45.4a5.79 5.79 0 1 0-5.79-5.79 5.79 5.79 0 0 0 5.79 5.79z">
                        </path>
                        <circle cx="139.72" cy="80.63" r="2.47"></circle>
                        <path
                            d="M80.14 139.1a5.67 5.67 0 1 0 5.21 6.11 5.68 5.68 0 0 0-5.21-6.11zm-5.6 11.9a11.06 11.06 0 0 1-4.06-6.34c-1.2-4.68.86-10.78-2.73-14.64a6.33 6.33 0 0 0-8.89-.25c-4.18 4-.63 10.83 2.36 14.48a26 26 0 0 0 7.6 6.69 18.9 18.9 0 0 0 6.68 2.27 9.83 9.83 0 0 0 6.3-1.58 7 7 0 0 1-7.26-.63zm-26.29-12c-2 3.83 1.18 7.17 4.32 9a55.14 55.14 0 0 0 10.56 4.85 48.16 48.16 0 0 0 5.8 1.56 14.35 14.35 0 0 0 3 .34c1 0 1.91-.21 1.72-.37a17.21 17.21 0 0 1-8.13-3.25 29.83 29.83 0 0 1-8.62-10.25 11.77 11.77 0 0 0-1.67-2.6c-1.72-1.88-5.68-1.71-6.98.72zM76 156.89c-4.33.85-8.32-.75-12.43-1.89-3.43-1-9.38-2.38-11.27 1.82a4.31 4.31 0 0 0 .64 4c2 3 5.83 4.24 9.31 4.18a17.41 17.41 0 0 0 8.75-2.72 35.08 35.08 0 0 0 5.68-4.53 22.77 22.77 0 0 0 1.94-2.11 4.4 4.4 0 0 1-1.42.9 5.43 5.43 0 0 1-1.2.35zm4.52-22.1c-3.3.27-6.54.6-8.3 3.75a4.5 4.5 0 0 0-.65 3.42c-.26-.69 2.14-3.19 2.65-3.6a9.86 9.86 0 0 1 4.68-1.7 7.41 7.41 0 0 1 7.46 3.81 10.61 10.61 0 0 1 1.12 3.46 136.53 136.53 0 0 0 7.74-15.3 31.1 31.1 0 0 1-6.34 3.93 21.64 21.64 0 0 1-8.36 2.23zM53.67 81.44c-2.24 2.67-2.77 6.5-2.66 9.86a29 29 0 0 0 1.16 7 36.71 36.71 0 0 0 1.26 3.7 49 49 0 0 0 2.23 4.8c1.42 2.65 2.28 3.75 2.64 4.44s-.64-2.94-.73-3.62l-.42-3.4c-.39-3.57-.38-7.58 1-11a13.53 13.53 0 0 1 3.77-4.93c2.05-1.85 3.61-5.49 1.68-7.89-2.48-3.07-7.73-1.6-9.93 1.04zM64.61 90c-2.06-1.51-3.87 1.17-4.71 2.69a15.05 15.05 0 0 0-1.63 7.69l.37 6.16c0 .69.12 1.37.23 2l.5 2.6.52-3.31.48-2.72a18.67 18.67 0 0 1 2.08-6l.38-.64c1.24-2 2.7-4.15 2.68-6.59a2.39 2.39 0 0 0-.9-1.88zm-23.29 8.08c-3 1.81.84 6.06 2.25 7.68a24.54 24.54 0 0 0 9.43 6.12 9.52 9.52 0 0 0 3.66.49c-4.2-2.08-7.7-4.63-10.13-8.74-1-1.62-1.43-3.41-2.64-4.86a2.46 2.46 0 0 0-1.37-1 1.73 1.73 0 0 0-1.2.31zm22.28 3.31a3.45 3.45 0 0 0-1.51 1.92 15.67 15.67 0 0 0-1.22 4.91c0 .34 0 .69-.07 1s0 1.16 0 1.64l.66-1 .67-1.08c.48-.77 1-1.42 1.51-2.14a6.74 6.74 0 0 0 1.74-3.82 1.6 1.6 0 0 0-.59-1.41 1.28 1.28 0 0 0-1.19-.02zM49.34 74.83a6.38 6.38 0 0 0-2.85 2.29c-.25.36-.44.74-.66 1.11l-1.92 5a22.75 22.75 0 0 0 1.36 12.68l2.18 5.07a27 27 0 0 0 2.46 4.13c2.18 2.94 5.19 4.72 8 7-4.23-5.31-7.64-12-8.16-18.9a26.78 26.78 0 0 1 1.45-10.52c.91-2.27 3.89-8.07-.86-8.08a2.87 2.87 0 0 0-1 .22zm9.33-17.2a12.37 12.37 0 0 1 8.72 3.5A21.44 21.44 0 0 1 66 50.8a64.26 64.26 0 0 0-7.33 6.83zm38.47 57.77a4.71 4.71 0 0 0-2.37 1c-2.79 2-4.7 5-6.32 8a23.72 23.72 0 0 1-7.61 8c-.6.4-.6.41 0 .42a7.06 7.06 0 0 0 1.92-.15 21.71 21.71 0 0 0 4.48-1.52 24.94 24.94 0 0 0 8.28-5.61 17.56 17.56 0 0 0 2.19-3q.95-2.37 1.86-4.86a2.44 2.44 0 0 0-.25-1.21 2.34 2.34 0 0 0-2.18-1.07zm3.43-10.46c-3.26.11-6.21 3.75-7.9 6.42a15.3 15.3 0 0 0-.83 1.5c-.37 1-.75 1.9-1.12 2.81a16 16 0 0 0-.73 3.48c.92-1.18 1.7-2.27 2.57-3.27a12.85 12.85 0 0 1 4.17-3c1.94-.94 4.61-1.59 5.66-3.47.85-1.53 1.25-4.57-1.82-4.47zm5.11-7.94a1.63 1.63 0 0 0-1.26-.77 6.13 6.13 0 0 0-5 1.66 17.11 17.11 0 0 0-5.1 9.24 8.09 8.09 0 0 1 3.31-3.77 13.38 13.38 0 0 1 4.11-2c1.2-.29 2.6-.36 3.42-1.29a3.33 3.33 0 0 0 .66-2.52 1.81 1.81 0 0 0-.14-.55zM53 64.81a8.12 8.12 0 1 0 1.11-1.53L53 64.81zm54.51 23.11a5 5 0 0 0-3.57 0 9 9 0 0 0-3 2A14.05 14.05 0 0 0 98 94.86l-.61 2a19.41 19.41 0 0 1 2.17-2.45 8.14 8.14 0 0 1 3.25-1.77c.76-.2 2-.29 2.73-.49 1.42-.37 2.19-.62 2.54-1.77.13-.41.48-1.3.11-1.92a2.07 2.07 0 0 0-.68-.54zm1.49-8.41c-3.15-.18-5.46 1.88-7.2 4.2a11.59 11.59 0 0 0-1.42 2.74l-.5 1.85c2-1.78 3.47-3.53 6.23-4.28a12.46 12.46 0 0 0 2.85-.9 2.67 2.67 0 0 0 1.44-2.36 1.2 1.2 0 0 0-.34-.89 1.6 1.6 0 0 0-1.06-.36zm1.8-7.69c-3.15-.18-5.46 1.88-7.21 4.19a10.7 10.7 0 0 0-1.15 2.1l-.54 2.29c1.85-1.71 3.36-3.35 6-4.08a12 12 0 0 0 2.85-.89 2.67 2.67 0 0 0 1.44-2.36 1.24 1.24 0 0 0-.34-.9 1.65 1.65 0 0 0-1.05-.35zm1.79-7.82c-3.16-.18-5.46 1.88-7.21 4.19a11.55 11.55 0 0 0-1.38 2.66l-.38 1.82c1.87-1.72 3.39-3.4 6.07-4.13a12.11 12.11 0 0 0 2.85-.89 2.7 2.7 0 0 0 1.46-2.36 1.24 1.24 0 0 0-.34-.9 1.65 1.65 0 0 0-1.07-.39zm1.59-8.15c-3-.17-5.2 1.79-6.86 4a13.67 13.67 0 0 0-1.95 4.49c1.92-1.73 3.37-3.46 6.06-4.19a11.87 11.87 0 0 0 2.71-.85 2.55 2.55 0 0 0 1.37-2.3 1.19 1.19 0 0 0-.32-.85 1.58 1.58 0 0 0-1.01-.3zm-6.61-1.32c-1.06 1.21-1.17 1.38.29.57a15.85 15.85 0 0 0 4.9-4.15 12.39 12.39 0 0 0 2.29-4.78 15.76 15.76 0 0 0-.39-7.15 3.9 3.9 0 0 0-1.87-2.55c-1-.61-2.76-.61-3.23.5-.56 1.33.55 3 .87 4.19a14.55 14.55 0 0 1-.72 10 12 12 0 0 1-2.14 3.37zm-41.63 63.71a5.62 5.62 0 1 0-5.62 5.62 5.61 5.61 0 0 0 5.62-5.62zm-20.21 19.25a5 5 0 0 1 2.81-2 12.15 12.15 0 0 1 3.88-.56 12.89 12.89 0 0 1 3.22.69 4.2 4.2 0 0 0-.65-1.16 3.82 3.82 0 0 0-1-.93 6.23 6.23 0 0 0-2.24-.93 9.77 9.77 0 0 0-1.42-.23 12.65 12.65 0 0 0-4.12.21 6.86 6.86 0 0 0-3.58 2.42c-.87 1.14-1.41 3.77.53 4.19 1.32.25 1.97-.77 2.57-1.7zm9.8 15.76a9.6 9.6 0 0 0 1.51-.44 2.54 2.54 0 0 0 .86-.41c-.54-.07-3-.53-3.41-.66a13.19 13.19 0 0 1-3.12-1.38 12 12 0 0 1-2.61-2.15c-.62-.68-.85-1.64-1.54-2.25a1.92 1.92 0 0 0-3.13 1.66 4 4 0 0 0 1 2.29 10.89 10.89 0 0 0 6.16 3.19 9.25 9.25 0 0 0 4.28.15zM45 129.44a10 10 0 0 0 3.51 1.28 16.34 16.34 0 0 0 3.43.12c2.57-.18 6.61-1.23 7.47-4a9.94 9.94 0 0 1-2.24.77 7.67 7.67 0 0 1-2.29.2c-5-.34-8.41-5.38-8.19-10.1a13.56 13.56 0 0 0 0-4.07h0c-.78-2.8-3.48-3.17-5.63-1.59-1.48 1.09-2.12 3.41-2.24 5.16A13 13 0 0 0 45 129.44zm8.35-8.19a18.28 18.28 0 0 1-.72-5.61 1.78 1.78 0 0 0-.59-1.45 1.32 1.32 0 0 0-.62-.18 2.45 2.45 0 0 0-2.09 1c-.91 1.25-.62 3.1-.33 4.52a12.16 12.16 0 0 0 1.93 4.57 6.33 6.33 0 0 0 4.72 2.26 5.52 5.52 0 0 0 3.13-.61 20.82 20.82 0 0 1-2.32-1 7.62 7.62 0 0 1-3.11-3.5z">
                        </path>
                    </g>
                </svg>

                <h3>All</h3>
            </a>


            <a href="/ghee">
                <svg width="66px" height="66px" viewBox="0 0 66 66" fill="none">
                    <path
                        d="M21.0333 19.3405C21.0333 19.3405 18.9498 25.1264 22.341 26.6455H43.1313C43.1313 26.6455 46.456 24.1881 44.7493 19.3405C44.7493 19.3405 34.6423 20.7478 21.0333 19.3405Z"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path d="M21.0333 19.3404C21.0333 19.3404 28.126 16.3245 44.7493 19.3404" stroke="#00584B"
                        stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M43.1313 26.6454C44.4168 27.2039 44.7493 28.8347 44.7493 28.8347C47.3425 36.7653 44.7493 50.7945 44.7493 50.7945C33.534 55.6645 22.0085 50.7945 22.0085 50.7945C19.3709 41.814 21.0332 28.8124 21.0332 28.8124C20.8781 27.6731 22.3853 27.2039 22.3853 27.2039C22.3853 27.2039 23.826 25.7965 23.826 28.8124C23.826 28.8124 23.7595 29.5719 23.427 29.9294C23.427 29.9294 22.1858 31.5155 23.2054 32.9452C23.2054 32.9452 24.2914 34.2632 25.2888 33.7941C25.2888 33.7941 26.4857 33.5707 26.929 31.9622C26.929 31.9622 27.2615 30.1304 26.8182 29.5049C26.8182 29.5049 25.9759 28.4103 26.2419 27.5167C26.2419 27.5167 26.4192 26.6231 26.8625 26.6231"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M20.4799 42.1045C20.4799 42.1045 23.6051 43.9364 24.9793 42.1045C24.9793 42.1045 27.3288 39.7589 29.789 39.7812C29.789 39.7812 31.9611 40.9652 35.5739 40.1163C35.5739 40.1163 37.1255 39.245 38.012 38.6642C38.012 38.6642 40.6053 34.8888 41.6249 35.2463C42.6444 35.5814 42.7553 35.4697 43.664 37.3015C43.664 37.3015 45.8583 39.6919 45.8804 39.0663"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <circle cx="33" cy="33" r="32.5" stroke="#00584B"></circle>
                </svg>
                <h3>Ghee</h3>
            </a>


            <a href="/oils">
                <svg widh="66px" height="66px" viewBox="0 0 66 66" fill="none">
                    <path
                        d="M25.8027 9.59998C41.473 28.7673 25.4702 29.0577 27.2656 39.8253C29.5042 53.095 47.9894 49.1409 46.1719 38.3733C47.3909 45.7006 42.1379 52.1344 34.4025 52.7152C26.6671 53.2961 19.4193 47.8452 18.1781 40.4955C15.8508 26.444 37.3061 24.9249 25.8027 9.59998Z"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M43.5564 40.8082C46.1718 35.7818 44.7754 23.5845 28.2407 10.8286C40.0987 20.8367 34.7571 30.5097 31.1443 35.7372C26.8222 42.0146 38.0596 51.4418 43.5564 40.8082Z"
                        fill="var(--gradient-base-accent-1)"></path>
                    <circle cx="33" cy="33" r="32.5" stroke="#00584B"></circle>
                </svg>


                <h3>Oils</h3>
            </a>


            <a href="/best-deals">
                <svg widh="66px" height="66px" viewBox="0 0 66 66">
                    <defs>
                        <style>
                            .cls-01,
                            .cls-03 {
                                fill: #00584B;
                            }

                            .cls-02 {
                                fill: #1aa182;
                            }

                            .cls-03,
                            .cls-04 {
                                stroke: #00584B;
                                stroke-miterlimit: 10;
                            }

                            .cls-04 {
                                fill: #696;
                            }
                        </style>
                    </defs>
                    <title>icon</title>
                    <path class="cls-01"
                        d="M33,66A33,33,0,1,1,66,33,33,33,0,0,1,33,66ZM33,1A32,32,0,1,0,65,33,32,32,0,0,0,33,1Z"></path>
                    <path class="cls-02"
                        d="M21.14,27.15a1.92,1.92,0,0,1-1.53-.61A2.21,2.21,0,0,1,19,24.88a2.57,2.57,0,0,1,.61-1.79,2.3,2.3,0,0,1,1.69-.67,2.12,2.12,0,0,1,1.56.59,2.35,2.35,0,0,1,.56,1.69,2.3,2.3,0,0,1-.64,1.76,2.12,2.12,0,0,1-1.66.69Zm6.59-4.55-5.87,9H20.32l5.85-9Zm-6.49,1c-.61,0-.92.4-.92,1.27s.29,1.2.87,1.23.9-.44.9-1.25-.28-1.25-.85-1.25Zm5.52,8.17a1.92,1.92,0,0,1-1.53-.61,2.21,2.21,0,0,1-.59-1.66,2.53,2.53,0,0,1,.62-1.79A2.22,2.22,0,0,1,26.94,27a2,2,0,0,1,1.56.59,2.33,2.33,0,0,1,.56,1.69,2.54,2.54,0,0,1-.61,1.79,2.24,2.24,0,0,1-1.69.66Zm.08-3.6c-.61,0-.92.41-.92,1.28s.28,1.2.89,1.2.9-.44.9-1.26a1.48,1.48,0,0,0-.23-.89.84.84,0,0,0-.64-.33Z">
                    </path>
                    <path class="cls-03"
                        d="M26.42,36h-9.9a4,4,0,0,1-4-4V22.4a4,4,0,0,1,4-4H37l6,6a1.63,1.63,0,0,1,.17.2l1,.05a4.36,4.36,0,0,0-.6-.76L37.32,17.7H16.52a4.68,4.68,0,0,0-4.7,4.7v9.66a4.69,4.69,0,0,0,4.7,4.7h9.17Z">
                    </path>
                    <path class="cls-04"
                        d="M51.29,37.82,36.58,52.49a4.7,4.7,0,0,1-6.65,0l-6.82-6.83a4.68,4.68,0,0,1,0-6.65L37.81,24.3h8.78a4.69,4.69,0,0,1,3.22,1.3l.18.19A4.72,4.72,0,0,1,51.29,29Zm-27.68,1.7a4,4,0,0,0,0,5.63L30.44,52a4,4,0,0,0,5.64,0L50.57,37.49V29a3.94,3.94,0,0,0-1.09-2.71l-.18-.18A3.93,3.93,0,0,0,46.59,25H38.1Z">
                    </path>
                    <path class="cls-04"
                        d="M46.27,32.65a2.35,2.35,0,1,1,0-3.32A2.39,2.39,0,0,1,46.27,32.65Zm-2.79-2.78a1.61,1.61,0,0,0,2.28,2.28,1.63,1.63,0,0,0,0-2.28,1.58,1.58,0,0,0-2.28,0Z">
                    </path>
                    <path class="cls-02"
                        d="M32.1,43.51A2.1,2.1,0,0,0,29.87,43a3,3,0,0,0-1.11.72l-1.44,1.44,3.18,3.18,1.44-1.44a3,3,0,0,0,.72-1.11,2.13,2.13,0,0,0,.06-1.17A2.19,2.19,0,0,0,32.1,43.51Zm-.37,2.1a1.66,1.66,0,0,1-.43.67l-.67.67-2-2,.67-.67a1.66,1.66,0,0,1,.67-.43,1.15,1.15,0,0,1,.71,0,1.56,1.56,0,0,1,1,1A1.23,1.23,0,0,1,31.73,45.61Z">
                    </path>
                    <polygon class="cls-02"
                        points="34.39 43.22 33.65 42.48 35.13 41.01 34.55 40.44 33.08 41.91 32.39 41.22 34.06 39.55 33.47 38.96 31.07 41.36 34.25 44.54 36.71 42.08 36.12 41.49 34.39 43.22">
                    </polygon>
                    <path class="cls-02"
                        d="M35.11,37.32l1.76,4.59.76-.75-.4-1,1.47-1.47,1,.4.77-.77-4.6-1.76Zm1.79,2.09-.71-1.73,1.72.72Z">
                    </path>
                    <polygon class="cls-02"
                        points="42.5 35.09 40.9 36.68 38.33 34.11 37.59 34.84 40.77 38.02 43.1 35.69 42.5 35.09">
                    </polygon>
                </svg>

                <h3>Best Deals</h3>
            </a>


            <a href="/combos">
                <svg widh="66px" height="66px" viewBox="0 0 66 66" fill="none">
                    <circle cx="33" cy="33" r="32.5" stroke="#00584B"></circle>
                    <path
                        d="M13.7595 24.3476C13.7595 24.3476 11.9199 29.4187 14.9121 30.7814H33.1978C33.1978 30.7814 36.1235 28.6144 34.6163 24.3476C34.6385 24.3476 25.7505 25.5986 13.7595 24.3476Z"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path d="M13.7595 24.3477C13.7595 24.3477 19.9877 21.6892 34.6385 24.3477" stroke="#00584B"
                        stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M33.221 30.7814C34.3514 31.2729 34.6395 32.7026 34.6395 32.7026C36.9225 39.6726 34.6395 52.0263 34.6395 52.0263C24.7763 56.3155 14.625 52.0263 14.625 52.0263C12.2977 44.1405 13.7606 32.7026 13.7606 32.7026C13.6276 31.6974 14.9574 31.2952 14.9574 31.2952C14.9574 31.2952 16.2208 30.0442 16.2208 32.7026C16.2208 32.7026 16.1765 33.3728 15.8662 33.6856C15.8662 33.6856 14.7801 35.093 15.6667 36.344C15.6667 36.344 16.6198 37.5056 17.5064 37.1035C17.5064 37.1035 18.5481 36.9025 18.947 35.4951C18.947 35.4951 19.2352 33.8866 18.8584 33.3281C18.8584 33.3281 18.1048 32.3675 18.3708 31.5633C18.3708 31.5633 18.5259 30.7591 18.9249 30.7591"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M13.295 44.3862C13.295 44.3862 16.0434 45.9947 17.2624 44.3862C17.2624 44.3862 19.3237 42.331 21.4958 42.3533C21.4958 42.3533 23.402 43.3809 26.5937 42.6437C26.5937 42.6437 27.9457 41.8619 28.7436 41.3704C28.7436 41.3704 31.0266 38.0641 31.9353 38.3546C32.8219 38.645 32.9327 38.5556 33.7307 40.1641C33.7307 40.1641 35.659 42.264 35.6811 41.7055"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path d="M37.6751 12.3066V22.27C37.6751 22.27 37.6086 24.8614 36.5447 26.8273L34.6164 29.3293"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M41.5095 12.3066V22.27C41.5095 22.27 41.576 24.8614 42.6399 26.8273L44.5682 29.3293C44.5682 29.3293 48.0037 32.3675 49.3557 34.8025C49.3557 34.8025 51.55 38.1087 50.0428 45.0786C50.0428 45.0786 48.9125 48.1838 48.314 48.5636C48.314 48.5636 41.2879 52.2273 35.0596 49.2115"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path d="M48.314 48.586C48.314 48.586 49.7325 46.084 35.6581 47.2233" stroke="#00584B"
                        stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M41.9971 22.4933C41.9971 22.4933 42.9502 20.5945 44.5682 20.3711C44.5682 20.3711 46.7182 19.8349 48.3362 21.4434C48.3362 21.4434 49.5996 23.0518 49.1341 25.4645C48.5357 28.592 48.5357 28.592 48.5357 28.592C48.5357 28.592 47.6269 31.1834 48.3583 32.0546C48.3583 32.0546 49.4444 33.5961 51.0403 32.4567C51.0403 32.4567 52.1042 31.2504 50.597 30.2451"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M35.6581 10.3407V13.7139C35.6581 13.7139 35.9462 14.5628 36.5225 14.5628C42.6842 14.6298 42.6842 14.6298 42.6842 14.6298C42.6842 14.6298 43.7703 14.3394 43.5265 13.8256L43.5486 10.3407C43.5486 10.3407 43.3935 9.60346 42.7951 9.60346H36.3895C36.4117 9.58113 35.6581 9.64814 35.6581 10.3407Z"
                        fill="#00584B"></path>
                </svg>

                <h3>Combos</h3>
            </a>

            <a href="/Gifting">
                <svg widh="66px" height="66px" viewBox="0 0 66.4 65.9" fill="#00584B">
                    <path
                        d="M33.2 66C15 66 .2 51.2.2 33S15 0 33.2 0s33 14.8 33 33-14.8 33-33 33zm0-65a31.97 31.97 0 0 0-32 32 31.97 31.97 0 0 0 32 32 31.97 31.97 0 0 0 32-32 31.97 31.97 0 0 0-32-32zm23 35.1c0-.7-.2-1.4-.7-1.9s-1.1-.8-1.9-.8h-.1c-1.1 0-2 .4-2.8 1.1.1-.1.1-.4-.1-.5-.5-.4-1.1-.6-1.8-.6-1.8 0-3.1 1.1-4.3 2.5v-5.7h1.2c.2 0 .3-.2.3-.4v-3.1c0-1.1-.9-1.9-1.9-1.9H22.2c-1.1 0-1.9.9-1.9 1.9v3.1c0 .2.2.4.3.4h1.2v9.7l-2.1.7c-1.9.9-3.9 1.5-6 1.9a18.7 18.7 0 0 1-3.4.3c-.2 0-.3.2-.3.4s.1.3.4.3a20.68 20.68 0 0 0 3.5-.3c2.1-.4 4.2-1 6.2-2 1.1-.6 2.4-.9 3.7-.9 2.3 0 4.6.8 6.5 2.3 1.2.9 2.7 1.4 4.2 1.6h10.4c2.6 0 4.3 1.5 4.3 2.8 0 .7-.6 1.2-1.2 1.2H37.1c-.1 0-2.6 0-3.4 1.8-.1.2 0 .4.2.5h.2c.1 0 .3-.1.3-.2.7-1.3 2.8-1.4 2.8-1.4h7.2c-1 1.6-2.4 3-4.1 3.9-1.2.6-2.5 1-3.9.9-3.4-.1-6.6-.9-9.7-2.2l-1.1-.5c-2.5-1.1-4.6-2-7.7-2-4.9 0-7.6 3.1-7.7 3.3-.1.1-.1.4 0 .5s.4.1.5 0c0 0 2.6-3 7.1-3 2.9 0 4.9.9 7.4 1.9l1 .4a26.06 26.06 0 0 0 9.9 2.3h.3c1.4 0 2.7-.3 3.9-1 1.9-1 3.5-2.6 4.6-4.5h3c1 0 1.8-.9 1.9-1.9 0-.8-.5-1.7-1.4-2.4l7.6-8.3c.2 0 .2-.1.2-.2zm-7.4-2c.5 0 1 .1 1.3.4.1.1.3.1.4 0-.8.7-1.6 1.6-2.3 2.4-.2.3-.5.6-.7.8l-3.1 3.5V37c1.3-1.5 2.6-2.9 4.4-2.9zm-5 9.5h-7.9V30.2h7.9v13.4zm1.5-16.9v2.8h-9.5v-4H44c.8 0 1.3.5 1.3 1.2zm-24.3 0c0-.7.5-1.2 1.2-1.2h8.2v4H21v-2.8zm2.8 12.9c-.4 0-.8 0-1.2.1v-9.6h7.9v11.7c-1.9-1.4-4.3-2.2-6.7-2.2zm7.4 2.7h0V25.5h4v18.1h-.6c-1.3-.2-2.4-.6-3.4-1.3zm16.7 2a6.64 6.64 0 0 0-3-.7h-.4v-1.3l3.6-4.1c.2-.3.5-.6.7-.8 1.3-1.5 2.7-3.3 4.7-3.3h.1c.5 0 1 .2 1.4.6.3.3.5.8.5 1.3l-7.6 8.3zM33.1 24.7h0 .1c.6-.1 5.7-1.1 7.1-2.4 1.4-1.4 1.4-3.7 0-5.1s-3.7-1.4-5.1 0c-.9.9-1.6 3.6-2 5.4-.4-1.8-1.1-4.5-2-5.4-.7-.7-1.6-1.1-2.5-1.1-1 0-1.9.4-2.5 1.1-1.4 1.4-1.4 3.7 0 5.1 1.2 1.3 6.3 2.3 6.9 2.4zm2.6-7c.6-.6 1.3-.8 2-.8s1.5.3 2 .8c1.1 1.1 1.1 3 0 4.1-.9.9-4.4 1.7-6.2 2.1.5-1.8 1.3-5.3 2.2-6.2zm-9.1 0c.5-.5 1.3-.8 2-.8s1.5.3 2 .8c.9.9 1.7 4.4 2.1 6.2-1.8-.4-5.3-1.2-6.2-2.1-1.1-1.1-1.1-2.9.1-4.1zm6.6-4.7c.2 0 .3-.2.3-.4v-.8c0-.2-.2-.4-.3-.4s-.3.2-.3.4v.8c-.1.2.1.4.3.4z">
                    </path>
                    <path
                        d="M20.4 17.6c.1.1.2.1.2.1s.2 0 .2-.1c.1-.1.1-.4 0-.5l-.8-.8c-.1-.1-.4-.1-.5 0s-.1.4 0 .5l.9.8zm-5.2 11h.8c.2 0 .3-.2.3-.4s-.2-.4-.3-.4h-.8c-.2 0-.3.2-.3.4s.1.4.3.4zm30.5-10.9c.1 0 .2 0 .2-.1l.8-.8c.1-.1.1-.4 0-.5s-.4-.1-.5 0l-.8.8c-.1.1-.1.4 0 .5.1 0 .2.1.3.1zm4.7 10.9h.8c.2 0 .3-.2.3-.4s-.2-.4-.3-.4h-.8c-.2 0-.3.2-.3.4s.1.4.3.4z">
                    </path>
                </svg>

                <h3>Gifting</h3>
            </a>


            <a href="/superfoods">
                <svg widh="66px" height="66px" viewBox="0 0 236.61 236.6">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: var(--gradient-base-accent-1);
                            }
                        </style>
                    </defs>
                    <title>SuperFoods default_1</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-1"
                                d="M118.3,236.6a118.3,118.3,0,1,1,118.3-118.3A118.44,118.44,0,0,1,118.3,236.6Zm0-232.35A114.05,114.05,0,1,0,232.35,118.3,114.18,114.18,0,0,0,118.3,4.25Z">
                            </path>
                            <path class="cls-1"
                                d="M43.55,79.48a5.84,5.84,0,0,1-7.77,2.73,6,6,0,0,1-2.72-7.82,6.17,6.17,0,0,1,7.86-2.79A6.07,6.07,0,0,1,43.55,79.48Z">
                            </path>
                            <path class="cls-1"
                                d="M52.11,151.86a5.84,5.84,0,0,1-7.77,2.73,6,6,0,0,1-2.72-7.82A6.17,6.17,0,0,1,49.48,144,6.07,6.07,0,0,1,52.11,151.86Z">
                            </path>
                            <path class="cls-1"
                                d="M147.24,186.24a5.84,5.84,0,0,1-7.77,2.73,6,6,0,0,1-2.72-7.82,6.17,6.17,0,0,1,7.86-2.79A6.07,6.07,0,0,1,147.24,186.24Z">
                            </path>
                            <path class="cls-1"
                                d="M224,93.84c-4.45.62-9,1.61-13.61,1.77a102.25,102.25,0,0,1-14.66-.81c-7.1-.79-14.14-2.26-21.26-2.82-18.4-1.43-36.17,9.54-42.42,26.07,21.32,1.28,42.27.7,62.14-8.34-18.08,13-38.52,15.4-60,13.31-.33.79,11.93,9,18.79,10.95,28.5,8.06,58.51-16,71-40.13Z">
                            </path>
                            <path class="cls-1"
                                d="M117.13,55.18c-1.1,6.76-2,13.74-3.41,20.66-1,5-2.89,9.84-3.68,14.85-1.7,10.58,3.17,18.72,12.49,21.41,5.33-11.64,6.92-23.61,3.47-36.16,6.75,11.57,5.49,23.53,1.3,36.12,23-18.63,10.85-43-10.17-56.88Z">
                            </path>
                            <path class="cls-1"
                                d="M108.55,159.94c-2.23.82-4.34,1.66-6.49,2.36-1.94.63-3.91,1.17-5.9,1.62-5.1,1.17-9.24-.07-12.41-4.56a126.18,126.18,0,0,0-9.22-11.74c-4-4.45-3.64-9-1.11-13.78,1.87-3.52,4-6.9,6.17-10.64-1,.38-1.94.8-2.9,1.06-4.08,1.12-8.12,2.46-12.27,3.21-3.63.66-6.61-.91-8.88-4-3.21-4.32-6.44-8.66-10-12.68-3.8-4.29-3.79-8.78-1.17-13.32,2.86-4.93,6.16-9.61,9.32-14.36,2.8-4.21,5.76-8.32,8.47-12.59,1.45-2.28,2.43-4.73,1.1-7.62a3.28,3.28,0,0,1,1.17-3c.9-.45,2.88-.28,3.45.41,4.52,5.47,9,11,13.09,16.78,2.29,3.27,1,7-.71,10.27-1.91,3.68-4.14,7.2-6.3,10.9.4-.09.88-.19,1.35-.33,4.14-1.23,8.22-2.73,12.43-3.65s7.77.53,10.45,4.2c3.13,4.28,6.37,8.5,9.87,12.48,3.72,4.23,3.49,8.61,1.13,13.15-1.91,3.66-4.13,7.16-6.43,11.11,1-.38,1.8-.71,2.6-.94,3.75-1.12,7.45-2.44,11.27-3.26,4.37-.93,7.92.56,10.63,4.32a155.72,155.72,0,0,0,9.68,12.32c3.65,4.12,3.87,8.54,1.25,12.86-4.05,6.69-8.65,13.05-13,19.57-1.85,2.79-3.73,5.56-5.37,8.48-1.16,2.06-1.9,4.23-.73,6.76a3.42,3.42,0,0,1-1.2,3.19,4.07,4.07,0,0,1-3.61-.69,50.57,50.57,0,0,1-4.62-5.69c-2.08-2.62-4-5.36-6.27-7.83-3.82-4.21-3.66-8.72-1.22-13.36C104.1,167.27,106.32,163.75,108.55,159.94Zm-53.16-46C60.22,107,65,100.34,69.61,93.52A113.26,113.26,0,0,0,75.7,83a3.8,3.8,0,0,0,.11-3.23c-2.14-3.12-4.57-6-6.64-8.71-4.62,6.53-9.23,12.83-13.6,19.31a114.46,114.46,0,0,0-6.75,11.58,4.53,4.53,0,0,0,.27,3.86C51,108.68,53.34,111.32,55.39,113.91Zm43.8-4.71c-1.33-1.7-2.83-3.59-4.31-5.51-3.35-4.32-4.22-4.8-9.46-3.11s-10,4-15.09,5.65c-6,2-7.73,7.24-9.58,12.32-.74,2.06.41,3.34,2.69,3.18a23.21,23.21,0,0,0,6.44-1.23C79.61,116.87,89.29,113,99.19,109.21Zm28.93,36.71a55.68,55.68,0,0,1-4.47-5.83c-2.22-3.78-5.36-4.19-9-2.85-6.19,2.29-12.33,4.72-18.48,7.11a2.34,2.34,0,0,0-1.18.82,96.12,96.12,0,0,0-5.13,9.67c-1.08,2.61.09,4,2.94,3.65a30.18,30.18,0,0,0,7.36-1.68C109.43,153.31,118.65,149.62,128.12,145.91Zm-43.27,5.37c2.3-3.94,4.2-7.53,6.42-10.91s4.92-6.5,7.15-9.9a92.91,92.91,0,0,0,6.22-10.73c1.45-3,.18-4.7-3.08-4.3-5.74.7-11.32,1.89-14.26,7.83-.39.79-1.14,1.39-1.6,2.15-2.67,4.36-5.39,8.69-7.89,13.15a4,4,0,0,0-.11,3.44C79.77,145.08,82.2,147.92,84.85,151.29Zm28.4,36.08c5.14-7.3,10.26-14.43,15.19-21.67a56.4,56.4,0,0,0,5-8.89c1.52-3.45.21-5.11-3.47-4.61-5.58.77-11,2-13.75,7.82-.31.65-.93,1.14-1.31,1.76-2.77,4.49-5.6,9-8.2,13.54a4,4,0,0,0-.07,3.45C108.74,181.85,111.16,184.7,113.24,187.37Z">
                            </path>
                        </g>
                    </g>
                </svg>

                <h3>Superfoods</h3>
            </a>


            <a href="/natualHoney">
                <svg widh="66px" height="66px" viewBox="0 0 66 66" fill="none">
                    <path
                        d="M16.9416 27.7907C16.9416 27.7907 11.2231 31.1193 16.9416 37.1733C16.9416 37.1733 22.9481 41.4178 24.7656 37.1733C24.7656 37.1956 24.4553 31.1193 16.9416 27.7907Z"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M16.9414 27.7907C16.9414 27.7907 15.4343 21.7367 22.0615 23.2558C22.0615 23.2558 29.5752 28.1035 31.3705 34.7606C31.3705 34.7606 30.4618 40.2115 24.7655 37.1957C24.7655 37.1957 22.9702 27.5003 16.9414 27.7907Z"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M22.0614 23.2557C22.0614 23.2557 18.4486 16.889 24.7655 16.889C24.7655 16.889 30.484 16.889 38.8843 32.0352C38.8843 32.0352 39.4827 40.5242 31.3705 34.7606"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M26.9598 17.6485C26.9598 17.6485 27.7799 11.4381 34.6953 16.889C34.6953 16.889 35.4932 17.5592 36.6014 18.6091C38.6405 20.5526 41.7657 23.8366 43.1178 26.8077C43.1178 26.8077 44.625 33.5319 38.9065 32.0128"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <path d="M49.7228 8.40002L34.6953 16.889L38.9066 20.9772L53.3356 12.9573" stroke="#00584B"
                        stroke-width="2" stroke-miterlimit="10"></path>
                    <path
                        d="M21.0421 38.9828C21.0421 38.9828 25.2311 40.8146 24.1008 43.8528C24.1008 43.8528 21.1529 51.1355 22.6601 53.2354C22.6601 53.2354 23.2585 58.3958 28.3785 59.2894C28.3785 59.2894 32.2795 59.6021 34.6954 54.129C34.6954 54.129 35.6041 49.8845 31.3929 46.8463C31.3929 46.8463 27.2924 45.9974 27.913 41.9986C27.913 41.9986 28.578 39.8764 29.9743 37.3073"
                        stroke="#00584B" stroke-width="2" stroke-miterlimit="10"></path>
                    <circle cx="33" cy="33" r="32.5" stroke="#00584B"></circle>
                </svg>

                <h3>Honey</h3>
            </a>


        </div>
    </div>

    <section>
        <div class="container">
            <div class="mt-2">
                <a href="#" class="All-product-text">Home</a>
                <i class="ri-arrow-right-s-line"></i>
                <a href="#" class="All-product-text">All product</a>
                <h5 class="All-product-h5 mt-2">All products</h5>
                <p class="All-product-p">Explore & Buy Quality Tradtional Food Products at Anveshan Farm - View Natural
                    Food
                    Online, Get Discount on MRP</p>
            </div>
        </div>
        <div class="container-fluid">
            <!-- row first -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/500ml_1.jpg?v=1710311686&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/ANVESHAN_CG_1_g_900mltincan.jpg?v=1688555691&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/c02.jpg?v=1710311770&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/bmo_anv_01_pls_5L.jpg?v=1706688903&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>

            <!-- row second -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/a2ghee-250ml.jpg?v=1675056366&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/ANVESHAN_CG_1_g_400mltincan.jpg?v=1688555736&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/anveshan_girCowGheefront500ml.jpg?v=1672129818&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/gno_anv_01_pls_5L.jpg?v=1706876875&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>

            <!-- row third -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/anv-saffron-front.jpg?v=1708925838&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/coco-500ml-jar-anveshan.jpg?v=1707138568&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/Artboard2copy2.jpg?v=1638285421&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>32% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/13.jpg?v=1652953648&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>


            <!-- row four -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>14% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/ymo_anv_01_pls_5L.jpg?v=1706689482&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>14% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/ymo_anv_01_pls_5L.jpg?v=1706689482&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>14% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/ymo_anv_01_pls_1L.jpg?v=1706689482&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>14% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/ymo_anv_01_pls_1L.jpg?v=1706689482&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>

            <!-- row five -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/1L.jpg?v=1710311686&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/c01.jpg?v=1653292102&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/bmo_anv_01_glass_1L.jpg?v=1706159205&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/girCOwGhee1L.jpg?v=1681541112&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>

            <!-- row six -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/gno_anv_01_pls_1L.jpg?v=1706159230&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/anv-saffron-front.jpg?v=1708925838&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/bmo_anv_01_glass_1L.jpg?v=1706159205&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/anveshan-vco.jpg?v=1706707602&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>

            <!-- row seven -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/Ghee5ltincan_INDIAgray_1.jpg?v=1710311686&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/bmo_anv_01_pls_2L.jpg?v=1706688903&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/bmo_anv_01_pls_2L.jpg?v=1706688903&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/anv-saffron-front.jpg?v=1708925838&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>

            <!-- row eight -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <div class="sale--badge tagoff"><span>24% Off</span></div>
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/co_anv_01_pls_2L.jpg?v=1707138568&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/bmo_anv_01_pls_1L.jpg?v=1706688903&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/gno-5L-tincan-old.png?v=1706876875&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/co_anv_01_pls_2L.jpg?v=1707138568&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>

            <!-- row nine -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/bmo-5Lnew.jpg?v=1706688903&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/co_anv_01_pls_1L.jpg?v=1707138568&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/gno_anv_01_glass_1L.jpg?v=1706876875&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/BMO.jpg?v=1706688903&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>

            <!-- row ten -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/dharohar-giftbox1-01.jpg?v=1697088794&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/nazrana-giftbox-01.jpg?v=1697028734&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/Artboard1copy9.jpg?v=1706689302&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/SesameOil.jpg?v=1706689302&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>

            <!-- row eleven -->
            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/tofa-giftbox-05.jpg?v=1697027236&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/SunflowerOil.jpg?v=1706688589&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/oilDispenserKit-3.jpg?v=1666870925&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <div class="sale--badge tagoff"><span>24% Off</span></div>
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/SesameOil.jpg?v=1706689302&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
</body>

</html>