<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/shop-by-solution.css">

</head>


<body>

<!-- nav start -->
  {{>navbar}}
    <!-- nav end -->

    <section>
        <div class="container-fluid">

            <div class="rows">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/a2ghee-250ml.jpg?v=1675056366&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/files/1_24.jpg?v=1683970652&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/21.jpg?v=1668408077&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic-1"
                                src="https://www.anveshan.farm/cdn/shop/products/Artboard2copy2.jpg?v=1638285421&width=360">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title mx-1 mt-2">500 ml jar</h3>
                        <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                        <ul class="rating mx-1">
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            <li class="fas fa-star"></li>
                            (701)
                        </ul>
                        <h3 class="market_price mx-1">₹ 1110</h3>
                        <h3 class="actual-price mx-1">₹ 999</h3>
                        <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                    </div>
                </div>
            </div>


   

        <div class="rows">
            <div class="product-grid">
                <div class="product-image">
                    <div class="sale--badge tagoff"><span>24% Off</span></div>
                    <a href="#" class="image">
                        <img class="pic-1"
                            src="https://www.anveshan.farm/cdn/shop/products/2_11.jpg?v=1661758024&width=360">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title mx-1 mt-2">500 ml jar</h3>
                    <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                    <ul class="rating mx-1">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        (701)
                    </ul>
                    <h3 class="market_price mx-1">₹ 1110</h3>
                    <h3 class="actual-price mx-1">₹ 999</h3>
                    <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                </div>
            </div>
            <div class="product-grid">
                <div class="product-image">
                    <div class="sale--badge tagoff"><span>24% Off</span></div>
                    <a href="#" class="image">
                        <img class="pic-1"
                            src="https://www.anveshan.farm/cdn/shop/products/19_68a33d45-497a-4213-bff0-d5365a6a468a.jpg?v=1652954014&width=360">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title mx-1 mt-2">500 ml jar</h3>
                    <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                    <ul class="rating mx-1">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        (701)
                    </ul>
                    <h3 class="market_price mx-1">₹ 1110</h3>
                    <h3 class="actual-price mx-1">₹ 999</h3>
                    <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                </div>
            </div>
            <div class="product-grid">
                <div class="product-image">
                    <div class="sale--badge tagoff"><span>24% Off</span></div>
                    <a href="#" class="image">
                        <img class="pic-1"
                            src="https://www.anveshan.farm/cdn/shop/products/dry-fruit-paak-grey.jpg?v=1679649676&width=360">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title mx-1 mt-2">500 ml jar</h3>
                    <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                    <ul class="rating mx-1">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        (701)
                    </ul>
                    <h3 class="market_price mx-1">₹ 1110</h3>
                    <h3 class="actual-price mx-1">₹ 999</h3>
                    <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                </div>
            </div>
            <div class="product-grid">
                <div class="product-image">
                    <div class="sale--badge tagoff"><span>24% Off</span></div>
                    <a href="#" class="image">
                        <img class="pic-1"
                            src="https://www.anveshan.farm/cdn/shop/products/500ml_1.jpg?v=1710311686&width=360">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title mx-1 mt-2">500 ml jar</h3>
                    <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                    <ul class="rating mx-1">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        (701)
                    </ul>
                    <h3 class="market_price mx-1">₹ 1110</h3>
                    <h3 class="actual-price mx-1">₹ 999</h3>
                    <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                </div>
            </div>
        </div>



        <div class="rows">
            <div class="product-grid">
                <div class="product-image">
                    <div class="sale--badge tagoff"><span>24% Off</span></div>
                    <a href="#" class="image">
                        <img class="pic-1"
                            src="https://www.anveshan.farm/cdn/shop/products/anveshan-turmeric-combo.jpg?v=1668408238&width=360">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title mx-1 mt-2">500 ml jar</h3>
                    <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                    <ul class="rating mx-1">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        (701)
                    </ul>
                    <h3 class="market_price mx-1">₹ 1110</h3>
                    <h3 class="actual-price mx-1">₹ 999</h3>
                    <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                </div>
            </div>
            <div class="product-grid">
                <div class="product-image">
                    <div class="sale--badge tagoff"><span>24% Off</span></div>
                    <a href="#" class="image">
                        <img class="pic-1"
                            src="https://www.anveshan.farm/cdn/shop/products/Packof2_2.jpg?v=1660906206&width=360">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title mx-1 mt-2">500 ml jar</h3>
                    <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                    <ul class="rating mx-1">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        (701)
                    </ul>
                    <h3 class="market_price mx-1">₹ 1110</h3>
                    <h3 class="actual-price mx-1">₹ 999</h3>
                    <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                </div>
            </div>
            <div class="product-grid">
                <div class="product-image">
                    <div class="sale--badge tagoff"><span>24% Off</span></div>
                    <a href="#" class="image">
                        <img class="pic-1"
                            src="https://www.anveshan.farm/cdn/shop/products/anveshan-dfp-grey350g.jpg?v=1685010794&width=360">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title mx-1 mt-2">500 ml jar</h3>
                    <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                    <ul class="rating mx-1">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        (701)
                    </ul>
                    <h3 class="market_price mx-1">₹ 1110</h3>
                    <h3 class="actual-price mx-1">₹ 999</h3>
                    <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                </div>
            </div>
            <div class="product-grid">
                <div class="product-image">
                    <div class="sale--badge tagoff"><span>24% Off</span></div>
                    <a href="#" class="image">
                        <img class="pic-1"
                            src="https://www.anveshan.farm/cdn/shop/products/1L.jpg?v=1710311686&width=360">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title mx-1 mt-2">500 ml jar</h3>
                    <h3 class="product-name mx-1">A2 Desi Hallikar Cow Ghee</h3>
                    <ul class="rating mx-1">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        (701)
                    </ul>
                    <h3 class="market_price mx-1">₹ 1110</h3>
                    <h3 class="actual-price mx-1">₹ 999</h3>
                    <button class="add-to-cart"><a href="#">Add to Cart</a></button>

                </div>
            </div>
        </div>
    </div>


    </section>


<!-- footer start -->
  {{>footer}}
    <!-- fooetr end -->
    <script src="/js/ghee.js"></script>

</body>

</html>