<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/ourStory.css">

</head>

<body>

{{>navbar}}

    <div class="about-banner">
        <div class="about-img">
            <img srcset="//www.anveshan.farm/cdn/shop/files/DSC4540.jpg?v=1650344884&amp;width=820 820w,//www.anveshan.farm/cdn/shop/files/DSC4540.jpg?v=1650344884&amp;width=1100 1100w,//www.anveshan.farm/cdn/shop/files/DSC4540.jpg?v=1650344884&amp;width=1600 1600w,//www.anveshan.farm/cdn/shop/files/DSC4540.jpg?v=1650344884&amp;width=1920 1920w,//www.anveshan.farm/cdn/shop/files/DSC4540.jpg?v=1650344884&amp;width=2400 2400w,"
                sizes="100vw" src="//www.anveshan.farm/cdn/shop/files/DSC4540.jpg?v=1650344884&amp;width=300"
                loading="lazy" alt="" class="" width="3200" height="2133">
        </div>
        <div class="about-banner-txt">
            <h1><small>OUR MISSION</small>
                Being Your Trustworthy and Transparent Food Partner</h1>
            <p>Pure and minimally processed food, directly from farms.<br>No false promises.</p>
        </div>
    </div>


    <div class="container">
        <div class="row why-are">
            <div class="col-lg-6">
                <div class="we-are">
                    <h2 class="d-none">Who We Are?</h2>
                    <div class="food-community">
                        <div>
                            <h6>18+</h6>
                            <p>Food Micro- <br>Entrepreneurs</p>
                        </div>
                        <div class="mx-5">
                            <h6>5000+</h6>
                            <p>Community of <br> Farmers</p>
                        </div>
                    </div>
                    <p class="community-para">We are a community of farmer families (Anveshan village
                        micro-entrepreneurs) spread across India.
                        We have set up micro food processing units near the farms. This has helped generate rural
                        employment, facilitate fair trade with the farmers, provide them with resources and eradicate
                        middlemen from the supply chain.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="we-are-img">
                    <h2 class="d-none">Who We Are?</h2>
                    <img src="https://www.anveshan.farm/cdn/shop/files/who_we-are.jpg?v=1652351013&width=360" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-outer my-5">
        <div class="container">
            <div class="founder-list">
                <h4>Our Founders</h4>
                <p>Young and agile graduates from IIT Guwahati wanted to use their technical skills in the food and
                    agriculture industry. They have the vision to bring food processing to the farm level and provide
                    traditional superfoods to everyone.</p>
            </div>
            <div class="product-cards">
                <div class="product-card">
                    <div class="card" style="width: 19rem;">
                        <img src="https://www.anveshan.farm/cdn/shop/files/kuldeep-parewa.png?v=1648727045&width=720"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Kuldeep Parewa</h5>
                            <p class="card-text">Being from a farming family, I know the hardships they face. Equipping
                                them
                                with technology, financial aid, and food-processing machines will generate more value
                                for
                                them.
                                And in turn, this leads to healthy and traceable food for consumers.</p>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="card" style="width: 19rem;">
                        <img src="https://www.anveshan.farm/cdn/shop/files/aayushi-khandelwal.png?v=1648727045&width=720"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Aayushi Khandelwal</h5>
                            <p class="card-text">I have always missed my nani's recipes and nuskhe in this modern
                                lifestyle.
                                I
                                have the vision to preserve these with India's lost superfoods and connect modern
                                consumers
                                with
                                traditional food.</p>
                        </div>
                    </div>
                </div>
                <div class="product-card">


                    <div class="card" style="width: 19rem;">
                        <img src="https://www.anveshan.farm/cdn/shop/files/akhil-kansal.png?v=1648727045&width=720"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Akhil Kansal</h5>
                            <p class="card-text">Using technology to assess food quality and create a direct-from-farm
                                supply
                                chain excites me the most. In this era of rising diseases, consumers need access to
                                quality
                                food, and farmers need to be empowered.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-with--img">
                    <h2 class="d-none">What Do We Offer?</h2>
                    <img src="https://www.anveshan.farm/cdn/shop/files/what-we-do.png?v=1648731968&width=360" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-with--txt">
                    <h2 class="d-none">What Do We Offer?</h2>

                    <p><strong>Purest form of authentic food</strong><br>We assure to provide you with wholesome,
                        chemical-free and preservative-free food straight from the farms.&nbsp;</p>
                    <p><strong>Minimally processed using traditional methods</strong><br>The food is infused with our
                        ancestors' passed on Ayurvedic and traditional wisdom. This ensures that all the natural
                        nutrients and flavours are intact.</p>
                    <p><strong>Prepared locally by farmer families</strong><br>All the products are prepared with love
                        by our micro-entrepreneurs in villages. Each time you buy from us, you help secure and empower
                        rural livelihoods.&nbsp;</p>
                    <p><strong>With farm-to-fork transparency</strong><br>Your food is monitored from procurement to
                        delivery. Our supply chain is tech-enabled to assess quality parameters at each step. We have
                        in-house, state-of-the-art certified labs to test every batch before packaging.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h2 style="text-align: center;">How Do We Do It?</h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.anveshan.farm/cdn/shop/files/suppl-chain01.jpg?v=1652351046&width=820"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.anveshan.farm/cdn/shop/files/suppl-chain02.jpg?v=1652351056&width=1600"
                        class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <h2 style="text-align: center;">Our Journey So Far</h2>
         <iframe src="https://www.youtube.com/embed/-0c2TWNaEz0?autoplay=1&amp;enablejsapi=1" class="js-youtube"
            allow="autoplay;muted; encrypted-media" allowfullscreen="" title=""></iframe> 
    </div>

    {{>footer}}

  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>