<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/samplerKit.css">
</head>


<body>

 <!-- nav start -->
  {{>navbar}}
    <!-- nav end -->

    <div class="bulid">
        <img src="https://www.anveshan.farm/cdn/shop/files/smaple-main-banner-00.jpg?v=1700548934&width=1920" alt="">
    </div>
    <div style="padding: 40px 1px 40px 90px;">
        <div class="container-fluid">
            <div class="Unlock">
                <img src="https://www.anveshan.farm/cdn/shop/files/smaple-main-banner-02.jpg?v=1700548971&width=750"
                    alt="">
                <div class="text-contents">
                    <h6 class="mx-4">Unlock Health & Tradition With Our Wood-Pressed Oils</h6>
                    <p class="mt-4 mx-4">Dive into a world of culinary possibilities by choosing any 3 oils from our
                        diverse
                        range of
                        Wood-Pressed Oils. Elevate your dishes, explore unique aromas, and savour the richness of health
                        in
                        every drop.</p>
                    <button class="mt-3 mx-4">shop Now</button>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <div class="Unlock_1">
                <div class="text-contents_1">
                    <h6 class="mx-4">Unlock Health & Tradition With Our Wood-Pressed Oils</h6>
                    <p class="mt-4 mx-4">Dive into a world of culinary possibilities by choosing any 3 oils from our
                        diverse
                        range of
                        Wood-Pressed Oils. Elevate your dishes, explore unique aromas, and savour the richness of health
                        in
                        every drop.</p>
                    <button class="mt-3 mx-4">shop Now</button>
                </div>
                <img src="https://www.anveshan.farm/cdn/shop/files/smaple-main-banner-03.jpg?v=1700548998&width=750"
                    alt="">

            </div>


        </div>

        <div class="container-fluid mt-4">
            <div class="Unlock">
                <img src="https://www.anveshan.farm/cdn/shop/files/smaple-main-banner-01.jpg?v=1700549023&width=750"
                    alt="">
                <div class="text-contents">
                    <h6 class="mx-4">Unlock Health & Tradition With Our Wood-Pressed Oils</h6>
                    <p class="mt-4 mx-4">Dive into a world of culinary possibilities by choosing any 3 oils from our
                        diverse
                        range of
                        Wood-Pressed Oils. Elevate your dishes, explore unique aromas, and savour the richness of health
                        in
                        every drop.</p>
                    <button class="mt-3 mx-4">shop Now</button>
                </div>
            </div>
        </div>
    </div>

{{>footer}}
</body>

</html>